* {
    padding: 0;
    margin: 0;
    color: white;
}

body {
    width: 100vw;
    height: 95vh;
    background-image: url('../Images/space-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
}

#game-zone {
    outline: 1px red solid;
    background-color: rgba(30, 30, 30, 0.3);
}

#console {
    position: fixed;
    width: 100%;
    height: 50%;
    display: none;
    align-content: end;
    background-color: rgba(30, 30, 30, 0.3);
}

#console form,
#console input {
    width: 100%;
    background-color: rgba(30, 30, 30, 0.3);
}

#console form {
    align-self: end;
}

.copyright {
    float: right;
}

#status {
    position: absolute;
    bottom: 50px;
}

#control-panel {
    position: absolute;
    bottom: 50px;
    left: calc(50% - 50px);
}
#control-panel div.control-panel__buttons button {
    height: 25px;
}
#control-panel button {
    width: 50px;
    height: 50px;
    color: black;
}