* {
    padding: 0;
    margin: 0;
}
body {
    width: 100vw;
    height: 95vh;
    background-image: url('../Images/space-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
}
#game-zone {
    outline: 1px red solid;
    background-color: rgba(30, 30, 30, 0.3);
}
#console {
    position: fixed;
    width: 100%;
    height: 50%;
    display: none;
    color: white;
    align-content: end;
    background-color: rgba(30, 30, 30, 0.3);
}
#console form, #console input {
    width: 100%;
    color: white;
    background-color: rgba(30, 30, 30, 0.3);
}
#console form {
    align-self: end;
}
.copyright {
    float: right;
}
footer {
    color: white;
}